<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" href="css.css">
		<meta charset="utf-8">
		<title>Converting...</title>
	</head>
	<body>
		<header>
			<h1>Video Converter</h1>
		</header>
		<video autoplay muted loop id="myVideo">
			<source src="background.mp4" type="video/mp4">
		</video>
	
		<div id="content">
			<progress id="progress-bar" value="0" th:attr="max=${maxProgress}"></progress>
			<div id="showProgress"></div>
		</div>
		<button class="button1 button" id="backToHome" type="button" onclick="window.location.href='/'">Zurück</button>
	
		<footer>
			<p>Powered by S. Beck</p>
			<p>Designed by J. Zimmermann</p>
		</footer>
	
		<script type="text/javascript" th:src="@{js/progress.js}"></script>
	</body>
</html>